<div class="container-fluid">
    <div class="row">
        <!-- Left Column for Simple Text -->
        <div class="col-md-6 bg-body-tertiary">
            <app-side-grid
                [text]="text"
            ></app-side-grid>
        </div>


        <!-- Right Column for Signup Form -->
        <div class="col-md-5">

            <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 50px);">
                <div>
                    <p class="font-monospace" style="font-size: 20px;">Sign Up</p>

                    <div class="mb-4">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" [style.width]="progressPercentage + '%'"></div>
                        </div>
                        <small class="text-muted font-monospace">{{ progressPercentage }}% complete</small>
                      </div>
                      
                    <form *ngIf="currentStep === 1"[formGroup]="registerClientForm" (ngSubmit)="registerAdmin()" style="margin-bottom: 100px;">
                        <div class="mb-3">
                            <label class="font-monospace">First Name</label>
                            <input formControlName='firstName' type="text" class="form-control" name="firstName" id="firstName">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('firstName')?.hasError('required')">
                                First name is required
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="font-monospace">Last Name</label>
                            <input formControlName='lastName' type="text" class="form-control" name="lastName" id="lastName">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('lastName')?.hasError('required')">
                                Last name is required
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="font-monospace" for="email">Email</label>
                            <input formControlName='email' type="email" class="form-control" name="email" id="email">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('email')?.hasError('required')">
                                Email is required
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="font-monospace" for="phoneNumber">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div id="flag-container"></div>
                                </div>
                                <input formControlName="phone" type="tel" class="form-control" name="phone" id="phoneNumber">
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('phone')?.hasError('required')">
                                Phone is required
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="font-monospace" for="password">Password</label>
                            <input formControlName='password' type="password" class="form-control" name="password" id="password">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('required')">
                                Password is required
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('minlength')">
                                Password must al least contain 8 characters
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('maxlength')">
                                Password must be no longer than 20 characters
                            </div>
                        </div>
                    
                        
                        <button class="btn btn-secondary font-monospace" type="submit" (click)="registerAdmin()" >Next</button>
                    </form>
                    
                    <form *ngIf="currentStep === 2" [formGroup]="companyForm" (ngSubmit)="registerAdmin()" style="margin-bottom: 100px;">

                        <div class="mb-3">
                            <label class="font-monospace" for="companyName">Company Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div id="flag-container"></div>
                                </div>
                                <input formControlName="companyName" type="tel" class="form-control" name="companyName" id="companyName">
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && companyForm.get('companyName')?.hasError('required')">
                                Company name is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace" for="contactEmail">Contact Email</label>
                            <div class="input-group">
                            
                                <input formControlName="contactEmail" type="text" class="form-control" name="contactEmail" id="contactEmail">
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && companyForm.get('contactEmail')?.hasError('required')">
                                Contact email is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace" for="companyWebsite">Company Website</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div id="flag-container"></div>
                                </div> 
                                <input formControlName="companyWebsite" type="text" class="form-control" name="companyWebsite" id="companyWebsite">
                            </div>                                                                              
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && companyForm.get('companyWebsite')?.hasError('required')">
                                Company website is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace" for="companyType">Company Type</label>
                            <select formControlName="companyField" class="custom-select form-control" id="companyType">
                                <option value="IT">IT</option>
                                <option value="Insurance">Insurance</option>
                                <option value="Finance">Finance</option>
                                <option value="Medicine">Medicine</option>
                            </select>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && companyForm.get('companyField')?.hasError('required')">
                                Company field is required
                            </div>
                        </div>
                        

                        <button class="btn btn-secondary font-monospace" type="button" (click)="registerAdmin()">Register</button>
                      </form>

                </div>
            </div>
        </div>
    </div>
</div>