<div class="container-fluid">
    <div class="row">
      <!-- Left Column for Simple Text -->
      <div class="col-md-5">
        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 50px);">
          <div style="margin-bottom: 150px;">
            <p class="font-monospace" style="font-size: 20px;">Apply</p>
            <p class="font-monospace" style="font-size: 30px; font-weight: bold;">Make your application easier</p>
          </div>
        </div>
      </div>
  
      <!-- Right Column for Signup Form -->
      <div class="col-md-7">
        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 50px);">
          <div>
            <p class="font-monospace" style="font-size: 20px;">Sign Up</p>
            <form style="margin-bottom: 100px;"> 
              <div class="mb-3">
                <label class="font-monospace" for="name">First Name</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>

              <div class="mb-3">
                <label class="font-monospace" for="name">Last Name</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
  
              <div class="mb-3">
                <label class="font-monospace" for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>

              <div class="mb-3">
                <label class="font-monospace" for="email">Phone Number</label>
                <input type="string" class="form-control" name="email" id="email">
              </div>
  
              <div class="mb-3">
                <label class="font-monospace" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
  
              <!-- Add more input fields as needed -->
              <button type="button" class="btn btn-secondary font-monospace" disabled>Register</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  