<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bg-body-tertiary">
            <app-side-grid
               [text]="text"></app-side-grid>
        </div>
        <!-- Right Column for Signup Form -->
        <div class="col-md-5">
            <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 90px);">
                <div>
                    <p class="font-monospace" style="font-size: 20px;">Forgot Password</p>

                    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" style="margin-bottom: 100px;">

                        <div class="mb-3">
                            <label class="font-monospace" for="email">Email</label>
                            <input formControlName='email' type="email" class="form-control" name="email" id="email">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && forgotForm.get('email')?.hasError('required')">
                                Email is required
                            </div>
                        </div>

                        <button class="btn btn-secondary font-monospace" type="submit">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
