<div class="container-fluid">
    <div class="row">
        <!-- Left Column for Simple Text -->
        <div class="col-md-6 bg-body-tertiary">
            <app-side-grid
                [text]="text"
            ></app-side-grid>
        </div>


        <!-- Signup client form Form -->
        <div class="col-md-5">

            <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 50px);">
                <div>
                    <p class="font-monospace" style="font-size: 20px;">Sign Up</p>

                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                        {{ successMessage }}
                      </div>

                      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                      </div>
                      
                    <form [formGroup]="registerClientForm" (ngSubmit)="registerClient()" style="margin-bottom: 100px;">
                        <div class="mb-3">
                            <label class="font-monospace">First Name</label>
                            <input formControlName='firstName' type="text" class="form-control" name="firstName" id="firstName">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('firstName')?.hasError('required')">
                                First name is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace">Last Name</label>
                            <input formControlName='lastName' type="text" class="form-control" name="lastName" id="lastName">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('lastName')?.hasError('required')">
                                Last name is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace">Email</label>
                            <input formControlName='email' type="text" class="form-control" name="email" id="email">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('lastName')?.hasError('required')">
                                Email is required
                            </div>
                        </div>
                    
                        
                        <div class="mb-3">
                            <label class="font-monospace" for="phone">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div id="flag-container"></div>
                                </div>
                                <input formControlName="phone" type="tel" class="form-control" name="phone" id="phone">
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('phone')?.hasError('required')">
                                Phone is required
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="font-monospace" for="password">Password</label>
                            <input formControlName='password' type="password" class="form-control" name="password" id="password">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('required')">
                                Password is required
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('minlength')">
                                Password must al least contain 8 characters
                            </div>
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && registerClientForm.get('password')?.hasError('maxlength')">
                                Password must be no longer than 20 characters
                            </div>
                        </div>
                        
                        <button class="btn btn-secondary font-monospace" type="submit" >Next</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>