<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bg-body-tertiary">
            <app-side-grid
               [text]="text"></app-side-grid>
        </div>
        <!-- Right Column for Signup Form -->
        <div class="col-md-5">
            <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 90px);">
                <div>
                    <p class="font-monospace" style="font-size: 20px;">Reset your Password</p>

                    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" style="margin-bottom: 100px;">

                        <div class="mb-3">
                            <label class="font-monospace" for="email">Password</label>
                            <input formControlName='password' type="password" class="form-control" name="password" id="password">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && resetForm.get('password')?.hasError('required')">
                                Password is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="font-monospace" for="email">Confirm password</label>
                            <input formControlName='confirmPassword' type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                            <div class="text-danger font-monospace" *ngIf="isSubmitted && resetForm.get('confirmPassword')?.hasError('required')">
                                Confirm password is required
                            </div>

                            <div class="text-danger font-monospace" *ngIf="isSubmitted && resetForm.hasError('PasswordNoMatch')">
                                Password should match
                              </div>

                        </div>

                        <button class="btn btn-secondary font-monospace" type="submit">Reset</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
